:root {
    --gridLength: 850px;
}
body {
    display: flex;
    justify-content: space-between;
}

#buttonContainer {
    height: auto;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;

}

#container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 450px;
}

#gridContainer {
    width: 850px;
    height: 850px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    border-bottom: 2px solid black;/*border syntax: width, style, color*/
    max-width: 1000px;
    max-height: 1000px;
}


